body {
	height: 300px;
	width: 230px;
	background-color: black;

}

img {
	margin-bottom: 10px;
	margin-top: 20px;
	height: 180px;
	width: 180px;
}

.btn-default{
	color: white;
	background-color: black;
	width: 90px;
	margin-top: 0px;
	outline: none;
}
